<div class="container">
    <div class="row">
        <div class="col col-lg-10">&nbsp;</div>
    </div>
        
    <div class="row">
        <div class="col col-lg-12">   
            <h2>Formulário para Adicionar os Tutoriais</h2>
        </div>
    </div>
    <div class="row justify-content">
        <div class="col col-lg-8"> 
            <form action="/adicionarTutorial" method="post">
                <div class="form-group">
                    <label for="">Título:</label>
                    <input type="text" name="titulo" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Autor:</label>
                    <input type="text" name="autor" class="form-control">
                </div>
                 <div class="form-group">
                    <label for="">Categoria:</label>
                    <input type="text" name="categoria" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Texto:</label>
                    <textarea name="texto" class="form-control" id="" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button class= "btn btn-primary" type="submit">ADICIONAR</button>
                </div>      
            </form>
        </div>
    </div>
</div>

